:root {
  /* MAIN COLORS */
  --black:    hsl(190, 100%, 5%);
  --white:    hsl(82, 100%, 98%);
  /*  */
  --bean:     hsl(6, 86%, 14%);
  --orange:   hsl(15, 61%, 57%);
  --peach:    hsl(35, 100%, 70%);
  --peach-pale: hsl(35, 45%, 86%);
  --aqua:     hsl(184, 94%, 42%);
  --blue:     hsl(190, 100%, 13%, .5);
  /* GREYS */
  --grey-100: hsl(0, 0%, 90%);
  --grey-200: hsl(0, 0%, 75%);
  --grey-300: hsl(0, 0%, 50%);
  --grey-400: hsl(0, 0%, 25%);
  --grey-500: hsl(0, 0%, 10%);
  /* TRANSPARENTS */
  /* blacks */
  --transBlack-100: hsla(0, 0%, 0%, 0.10);
  --transBlack-200: hsla(0, 0%, 0%, 0.25);
  --transBlack-300: hsla(0, 0%, 0%, 0.50);
  --transBlack-400: hsla(0, 0%, 0%, 0.75);
  --transBlack-500: hsla(0, 0%, 0%, 0.100);
  /* whites */
  --transWhite-100: hsla(0, 0%, 100%, 0.10);
  --transWhite-200: hsla(0, 0%, 100%, 0.25);
  --transWhite-300: hsla(0, 0%, 100%, 0.50);
  --transWhite-400: hsla(0, 0%, 100%, 0.75);
  --transWhite-500: hsla(0, 0%, 100%, 1.00);
}

// var(--black)
// var(--white)

