main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0em 1em;
}

.contentBox {
  width: 28%;
  padding: 0em 1em;
}

@media (max-width: 650px) {
  .contentBox {
    width: 100%;
    padding: 0em 1em;
  }
}