@import './_normalize.css';
@import './colors.css';
@import './grid.css';
@import './styles.css';
@import './headerFooter.css';
@import './nav.css';

html {
  font-family: 'Corben', Helvetica, sans-serif;
}

html {
  height: 100vh;
}

body {
  background: var(--black);
  margin: 0;
  padding: 0;
  overflow: scroll;
}

body::-webkit-scrollbar {
  width: .3rem;
}

body::-webkit-scrollbar-track {
  background: rgb(58, 58, 58);
}

body::-webkit-scrollbar-thumb {
  background: var(--aqua);
}

.container {
  margin: auto;
  background: var(--white);
  /* padding: 1em; */
  margin-left: 5em;
}